#bottom_container {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 90%;
    padding-bottom: 10px;
    margin: 0 auto;
    border-bottom: 3px solid #f88d00;
}

#logos {
    width: 40vw;
    display: inline-block;
}

#yahoo, #gmail, #scholar, #linkedin, #github, #skype, #maps {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#yahoo_logo, #gmail_logo, #scholar_logo, #linkedin_logo, #github_logo, #skype_logo, #maps_logo {
    max-height: 2vw;
    padding-left: 10px;
}

#yahoo_logo, #gmail_logo:hover {
    cursor: pointer;
}

@media all and (max-width: 768px) {
    #logos {
        width: 50vw;
    }
    #yahoo_logo, #gmail_logo, #scholar_logo, #linkedin_logo, #github_logo, #skype_logo, #maps_logo {
        max-height: 9vw;
    }
    #linkedin_logo, #github_logo, #skype_logo, #maps_logo {
        padding-top: 5px;
    }
}