#middle_container {
    position: relative;
    width: 90%;
    height: auto;
    border-bottom: 3px solid #f88d00;
    margin: 0 auto;
}

#intro {
    width: auto;
    height: 100%;
    display: inline-block;
    font-family: 'Quattrocento', serif;
    font-size: larger;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f88d00;
}

#resume {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#resume_head {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    font-weight: 1000;
}

#experiences_head, #education_head, #publications_head, #presentations_head, #extracurriculars_head, #languages_head, #skills_head, #interests_head {
    position: relative;
    text-align: left;
    font-family: 'Alegreya SC', serif;
    font-size: 35px;
    font-weight: 600;
}

#experiences_body, #education_body, #publications_body, #presentations_body, #extracurriculars_body, #languages_body, #skills_body, #interests_body {
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 20px;
}

.exps, .edus {
    padding-bottom: 10px;
}

.collapse_img {
    margin-left: -25px;
    float: left;
    max-width: 25px;
}

.collapse_img:hover {
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.pointer:hover {
    cursor: pointer;
}

.company {
    display: inline-block;
}

.company_name {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    float: left;
}

.company_location {
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    line-height: 25px;
    float: left;
    text-align: right;
}

.dates {
    font-size: 13px;
}

.tasks {
    display: none;
}

.language {
    display: flex;
    height: auto;
}

.language_name, .circles {
    display: block;
    max-height: 25px;
}

.language_name {
    min-width: 60px;
}

.filled_circle, .half_circle, .empty_circle {
    stroke: lightseagreen;
}

.filled_circle, .half_circle {
    fill: lightgreen;
}

.empty_circle {
    fill: white;
}

.skill, .interest {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin-top: 1px;
    margin-bottom: 1px;
}

.skill {
    background: green;
    color: white;
}

.interest {
    background: lightblue;
    color: white;
}

.inlineimg {
    max-height: 15px;
}